astroid==2.3.3
autopep8==1.5
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
crypto==1.4.1
Flask==1.1.1
Flask-Cors==3.0.8
Flask-HTTPAuth==3.3.0
idna==2.9
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
Naked==0.1.31
psutil==5.7.0
pyasn1==0.4.8
pycodestyle==2.5.0
pycryptodome==3.9.7
pylint==2.4.4
pywin32==227
PyYAML==5.3.1
requests==2.23.0
rsa==4.1
shellescape==3.8.1
six==1.14.0
urllib3==1.25.8
Werkzeug==1.0.0
WMI==1.4.9
wrapt==1.11.2
